.container {
    background-color: #070707;
    color: #DCDCDC;
    width: 650px;
    height: 80%;
    border: 2px solid black;
    border-radius: 0.5rem;
    margin: 3rem auto auto auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .info--img {
    padding: 2.5rem;
}

.container--header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info--h1{
    color: #FEFEFE;
    margin-bottom: 0px;
    text-align: center;
}

.info--h2 {
    color: #EEEEBB;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

.info--website {
    text-decoration: none;
    color: inherit;
    display: block;
    text-align: center;
}

.buttons {
    margin-top: 1.5rem;
    padding: 1.15rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.buttons--link {
    text-decoration: none;
    color: inherit;
}

.buttons--email {
    width: 40%;
    height: 55px;
    border: 1px solid #070707;
    border-radius: 10px;
    background-color: #FEFEFE;
    color: #070707;
}

.buttons--linkedin{
    width: 40%;
    height: 55px;
    border: 1px solid #070707;
    border-radius: 10px;
    background-color: #0A66C2;
    color: #FEFEFE;
    font-weight: 500;
}

.about {
    padding: 0 1.5rem;
}

.interests {
    padding: 0 1.5rem;
}

/* .footer-icons {
    display: flex;
    justify-content: space-around;
    align-items: center; */
/* } */

.icon--style {
    background-color: #DCDCDC;
}